<div class="container mt-50">
    <div class="card">
      <div class="card-header">
        <h4>Confirmation de la Réservation</h4>
      </div>
      <div class="card-body">
        <p>Votre réservation a été confirmée avec succès !</p>
        <h5>Détails du passager :</h5>
        <p><strong>Nom :</strong> {{ passenger?.nom }}</p>
        <p><strong>Prénom :</strong> {{ passenger?.prenom }}</p>
        <p><strong>Email :</strong> {{ passenger?.email }}</p>
        <p><strong>Âge :</strong> {{ passenger?.age }}</p>
        <p><strong>Sexe :</strong> {{ passenger?.sex }}</p>
        <p><strong>Numéro de siège :</strong> {{ passenger?.seatNumber }}</p>
        <p><strong>Préférence alimentaire :</strong> {{ passenger?.foodPreferences?.join(', ') || 'Aucune' }}</p>
      </div>
    </div>
  </div>
  