<app-loader></app-loader>
<div class="container mt-50">
    <div class="card">
        <div class="card-header">
            <h4>Ajouter les détails du Passager</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="addPassengerForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="FirstName" class="col-sm-3 col-form-label form-label">Prénom : </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="FirstName" formControlName="firstName"
                            placeholder="Entrez le Prénom" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LastName" class="col-sm-3 col-form-label form-label">Nom de Famille : </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="LastName" formControlName="lastName"
                            placeholder="Entrez le Nom de Famille" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Email" class="col-sm-3 col-form-label form-label">Email : </label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" id="Email" formControlName="email"
                            placeholder="Entrez l'Email" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-3 col-form-label form-label">Âge : </label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="age" formControlName="age"
                            placeholder="Entrez votre âge" autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sex" class="col-sm-3 col-form-label form-label">Sexe : </label>
                    <div class="col-sm-3">
                        <select class="form-control" id="sex" formControlName="sex" required>
                            <option value="" disabled selected>Choisissez le sexe</option>
                            <option value="M">Masculin</option>
                            <option value="F">Féminin</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="foodName" class="col-sm-3 col-form-label form-label">Préférence Alimentaire : </label>
                    <div class="col-sm-3">
                        <select class="form-control" id="foodName" formControlName="foodName" required>
                            <option value="" disabled selected>Choisissez une préférence</option>
                            <option *ngFor="let pref of foodName" [value]="pref">{{ pref }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="chooseSeats" class="col-sm-3 col-form-label form-label">Numéro de Siège : </label>
                    <div class="col-sm-3">
                        <select class="form-control" id="chooseSeats" formControlName="chooseSeats" required>
                            <option value="" disabled selected>Choisissez un siège</option>
                            <option *ngFor="let seat of chooseSeats" [value]="seat">{{ seat }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 offset-sm-3">
                        <button type="submit" class="btn btn-primary" [disabled]="isLoading">Ajouter Passager</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
