<app-loader></app-loader>
<div class="container mt-50">
    <div class="card">
        <div class="card-header">
            <h4>Résumé de la Réservation</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Confirmer le Vol</h5>
            <div class="card">
                <div class="flight-name">
                    <span><strong>Nom : </strong>{{bookingSummary?.passenger?.fname}}
                        &nbsp;{{bookingSummary?.passenger?.lname}}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Email : </strong>{{bookingSummary?.passenger?.email}}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Départ de : </strong></span>
                    <span>{{ bookingSummary?.trip?.route_id?.departure_city }}</span>
                    <span>
                        <img alt="vol" src="../assets/flight.png" />
                    </span>
                    <span><strong>Arrivée à : </strong></span>
                    <span>{{ bookingSummary?.trip?.route_id?.arrival_city }}</span>
                </div>
                <div class="flight-name">
                    <span><strong>À : </strong>{{ bookingSummary?.trip?.departure_time }}</span>
                    <span class="ml-365"><strong>À : </strong>{{ bookingSummary?.trip?.arrival_time }}</span>
                </div>
                <div class="flight-name" *ngIf="!bookingSummary?.id">
                    <span><strong>Date : </strong>{{bookingSummary?.trip?.date}}</span>
                </div>
                <div class="flight-name" *ngIf="bookingSummary?.id">
                    <span><strong>Nouvelle Date : </strong>{{bookingSummary?.changedDate}}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Numéro de Siège : </strong>{{bookingSummary?.passenger?.seat_number}}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Préférence Alimentaire : </strong>{{bookingSummary?.passenger?.food_name}}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Compagnie : </strong></span>
                    <span>{{ bookingSummary?.trip?.plane_id?.company }}</span>
                    <button *ngIf="!bookingResponse?.id && !bookingSummary?.id" type="button" class="btn btn-primary btn-lg float-right"
                        (click)="selectDepartingFlight()">Effectuer la Réservation</button>
                    <button *ngIf="!bookingResponse?.id && bookingSummary?.id" type="button" class="btn btn-primary btn-lg float-right"
                        (click)="updateFlight()">Mettre à Jour la Réservation</button>
                </div>

                <div class="flight-name booked" *ngIf="bookingResponse?.id">
                    <span><strong>Votre Vol est Réservé </strong></span>
                    <div class="flight-name response-id">
                        <span><strong>Votre Numéro de Référence de Réservation : </strong>{{bookingResponse?.id}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>